.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

    h1 {
      color: #376E8F;
      /* font-family: Inter; */
      /* font-size: 14px; */
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
    }
  }
  
  video {
    width: 100%;
    max-height: 400px;
    margin-top: 20px;
  }
  